<% content_for :style do %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>  
<% end %>
<nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <a href="https://github.com/benkoshy/pagy-rails" class="flex items-center">        
        <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Pagy Rails</span>
    </a>    
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">        
        <li>
          <%= link_to("No Styling", movies_path , class: "block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white", "aria-current":"page") %>
        </li>
        <li>
          <%= link_to("Bootstrap", bootstrap_movies_path , class: "block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white", "aria-current":"page") %>
        </li>        
        <li>
          <%= link_to("Semantic", semantic_movies_path , class: "block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white", "aria-current":"page") %>
        </li>        
        <li>
          <%= link_to("Materialize", materialize_movies_path , class: "block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white", "aria-current":"page") %>
        </li>        
        <li>
          <%= link_to("Tailwind", tailwind_movies_path , class: "block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white", "aria-current":"page") %>
        </li>        
        <li>
          <%= link_to("UI Kit", ui_kit_movies_path , class: "block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white", "aria-current":"page") %>
        </li>        
        <li>
          <%= link_to("Bulma", bulma_movies_path , class: "block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white", "aria-current":"page") %>
        </li>       
        <li>
          <%= link_to("Foundation", foundation_movies_path , class: "block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-blue-700 md:p-0 dark:text-white", "aria-current":"page") %>
        </li>       
      </ul>
    </div>
  </div>
</nav>



<div class="container mx-auto">
  <p><%= notice %></p>
  <p>
    <% if params[:calendar] %>
      <%= link_to "Hide Calendar", tailwind_movies_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600" %>
    <% else %>
      <%= link_to "Show Calendar", tailwind_movies_path(calendar: "true"), class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600" %>
    <% end %>
  </p>
  <!-- calendar navs -->
  <% if @calendar %>
    <br>
    <div>
      <%== pagy_nav(@calendar[:year]) %>   <!-- year nav -->
    </div>
    <br>
    <div>
      <%== pagy_nav(@calendar[:month]) %>  <!-- month nav -->
    </div>
    <br>
    <div>
      <%== pagy_info(@pagy) %> for <%== @calendar[:month].label(format: '%B %Y') %>
    </div>
  <% end %>
  <br>

<% if @movies.any? %>
<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th> ID </th>
        <th>Created at</th>
        <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">Name</th>
        <th>Rating</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-6 py-4"><%= movie.id %></td>
          <td class="px-6 py-4"><%= movie.created_at.strftime("%F") %></td>
          <td class="px-6 py-4"><%= movie.name %></td>
          <td class="px-6 py-4"><%= movie.rating %></td>
          <td class="px-6 py-4"><%= link_to 'Show', movie_path(movie), class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600" %> </td>
          <td class="px-6 py-4"><%= link_to 'Edit', edit_movie_path(movie), class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600" %></td>
          <td class="px-6 py-4"><%= link_to 'Destroy', movie, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600", method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  </div>
<% end %>

  <br>
  <% unless @calendar %>
    <%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
    <div>
      <%== pagy_nav(@pagy) %></div>
    <br>
    <div>
      <p> Pagy Nav JS</p>
    </div>
    <div  data-controller="pagy-initializer">
      <%== pagy_nav_js(@pagy) %></div>
    <br>
    <div>
      <p> Pagy Nav Combo JS</p>
    </div>
    <div  data-controller="pagy-initializer">
      <%== pagy_combo_nav_js(@pagy) %></div>
    <br>
    <div>
      <p> Pagy Items Selector JS</p>
    </div>
    <div  data-controller="pagy-initializer">
      <%== pagy_items_selector_js(@pagy) %></div>
    <br>
    <br>
    <%= link_to 'New Movie', new_movie_path, class: "underline text-blue-600 hover:text-blue-800 visited:text-purple-600" %>
  <% end %>
</div>