<p><%= notice %></p>
<p>
  <% if params[:calendar] %>
    <%= link_to "Hide Calendar", movies_path  %>
  <% else %>
    <%= link_to "Show Calendar", movies_path(calendar: "true")  %>
  <% end %>
</p>
<!-- calendar navs -->
<% if @calendar %>
  <div>
    <%== pagy_nav(@calendar[:year]) %>   <!-- year nav -->
  </div>
  <br>
  <div>
    <%== pagy_nav(@calendar[:month]) %>  <!-- month nav -->
  </div>
  <br>
  <div>
    <%== pagy_info(@pagy) %> for <%== @calendar[:month].label(format: '%B %Y') %>
  </div>
  <br>
<% end %>
<table>
  <thead>
    <tr>
      <th> ID </th>
      <th>Name</th>
      <th>Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><%= movie.name %></td>
        <td><%= movie.rating %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
<%== pagy_nav(@pagy) %>
<br>
<p> Pagy Nav JS</p>
<%== pagy_nav_js(@pagy) %>
<br>
<p> Pagy Nav Combo JS</p>
<%== pagy_combo_nav_js(@pagy) %>
<br>
<p> Pagy Items Selector JS</p>
<%== pagy_items_selector_js(@pagy) %>
<br>
<br>
<br>
<%= link_to 'New Movie', new_movie_path %>