<p id="notice"><%= notice %></p>
<h1>Movies</h1>
<table>
  <thead>
    <tr>
      <th> ID </th>
      <th>Name</th>
      <th>Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><%= movie.name %></td>
        <td><%= movie.rating %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
<p> <b> Standard Semantic Nav </b>  </p>
<%== pagy_semantic_nav(@pagy) %>
<br>
<p> <b> Semantic - Pagy Nav JS</b> </p>
<%== pagy_semantic_nav_js(@pagy) %>
<br>
<p> <b>Semantic - Pagy Nav Combo JS</b> </p>
<%== pagy_semantic_combo_nav_js(@pagy) %>
<br>
<%= link_to 'New Movie', new_movie_path %>