<!-- Compressed CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/css/foundation.min.css" crossorigin="anonymous">
<!-- Compressed JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.5/dist/js/foundation.min.js" crossorigin="anonymous"></script>
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h1>Foundation</h1>
        </div>
      </div>


    <nav class="pagy-foundation-combo-nav-js" aria-label="Pagination">
        <div class="input-group" data-pagy="WyJjb21ibyIsIlx1MDAzY2EgaHJlZj1cIi9mb3VuZGF0aW9uX21vdmllcz9wYWdlPV9fcGFneV9wYWdlX19cdTAwMjZhbXA7aXRlbXM9MjBcIiAgIHN0eWxlPVwiZGlzcGxheTogbm9uZTtcIlx1MDAzZVx1MDAzYy9hXHUwMDNlIl0=">
          <a style="margin-bottom: 0" class="prev button primary disabled" href="#">‹&nbsp;Prev</a>
          <span class="input-group-label">
            <label class="flex-container align-middle">
              <span>Page</span>
              <input class="input-group-field cell shrink" type="number" min="1" max="168" value="1" style="width: 4rem; padding: 0 0.3rem; margin: 0 0.3rem;"> 
              <span>of 168</span>
            </label>
          </span>
        <a href="/foundation_movies?page=2&amp;items=20" rel="next" style="margin-bottom: 0" aria-label="next" class="next button primary">Next&nbsp;›</a>
      </div>
    </nav>



    <p><%= notice %></p>
    <p>
      <% if params[:calendar] %>
      <%= link_to "Hide Calendar", foundation_movies_path  %>
      <% else %>
      <%= link_to "Show Calendar", foundation_movies_path(calendar: "true")  %>
      <% end %>
    </p>
    <!-- calendar navs -->
    <% if @calendar %>
    <div>
      <%== pagy_foundation_nav(@calendar[:year]) %>   <!-- year nav -->
    </div>
    <div>
      <%== pagy_foundation_nav(@calendar[:month]) %>  <!-- month nav -->
    </div>
    <div>
      <%== pagy_info(@pagy) %> for <%== @calendar[:month].label(format: '%B %Y') %>
    </div>
    <% end %>
    <table class="stack">
      <thead>
        <tr>
          <th> ID </th>
          <th>Created at</th>
          <th>Name</th>
          <th>Rating</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.id %></td>
          <td><%= movie.created_at.strftime("%F") %></td>
          <td><%= movie.name %></td>
          <td><%= movie.rating %></td>
          <td><%= link_to 'Show', movie %></td>
          <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
          <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% unless @calendar %>
    <%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
    <div>
    <%== pagy_foundation_nav(@pagy) %></div>
    <br>
    <div>
      <p> Pagy Nav JS</p>
    </div>
    <div>
    <%== pagy_foundation_nav_js(@pagy) %></div>
    <br>
    <div>
      <p> Pagy Nav Combo JS</p>
    </div>
    <div>
    <%== pagy_foundation_combo_nav_js(@pagy) %></div>
    <br>
    <div>
      <p> Pagy Items Selector JS</p>
    </div>
    <div>
      <%== pagy_items_selector_js(@pagy) %>
      
    </div>
    <br>
    <br>
    <%= link_to 'New Movie', new_movie_path, class: "button primary" %>
    <% end %>
    
  </div>
</body>
</html>