<table class="table table-responsive">
  <thead>
    <tr>
      <th> ID </th>
      <th>Created at</th>
      <th>Name</th>
      <th>Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% locals[:movies].each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><%= movie.created_at.strftime("%F") %></td>
        <td><%= movie.name %></td>
        <td><%= movie.rating %></td>        
      </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-center">
    <%== pagy_bootstrap_nav(@pagy) %>
</div>