<% content_for :style do %>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<% end %>
<div class="container mb-5">
  <p><%= notice %></p>
  <p>
    <% if params[:calendar] %>
      <%= link_to "Hide Calendar", bootstrap_movies_path  %>
    <% else %>
      <%= link_to "Show Calendar", bootstrap_movies_path(calendar: "true")  %>
    <% end %>
  </p>
  <!-- calendar navs -->
  <% if @calendar %>
    <div class="d-flex justify-content-center">
      <%== pagy_bootstrap_nav(@calendar[:year]) %>   <!-- year nav -->
    </div>
    <div class="d-flex justify-content-center">
      <%== pagy_bootstrap_nav(@calendar[:month]) %>  <!-- month nav -->
    </div>
    <div class="d-flex justify-content-center">
      <%== pagy_info(@pagy) %> for <%== @calendar[:month].label(format: '%B %Y') %>
    </div>
  <% end %>
  <table class="table table-responsive">
    <thead>
      <tr>
        <th> ID </th>
        <th>Created at</th>
        <th>Name</th>
        <th>Rating</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.id %></td>
          <td><%= movie.created_at.strftime("%F") %></td>
          <td><%= movie.name %></td>
          <td><%= movie.rating %></td>
          <td><%= link_to 'Show', movie %></td>
          <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
          <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <% unless @calendar %>
    <%# Note the double equals sign "==" which marks the output as trusted and html safe: %>
    <div class="d-flex justify-content-center">
      <%== pagy_bootstrap_nav(@pagy) %></div>
    <br>
    <div class="d-flex justify-content-center">
      <p> Pagy Nav JS</p>
    </div>
    <div class="d-flex justify-content-center">
      <%== pagy_bootstrap_nav_js(@pagy) %></div>
    <br>
    <div class="d-flex justify-content-center">
      <p> Pagy Nav Combo JS</p>
    </div>
    <div class="d-flex justify-content-center">
      <%== pagy_bootstrap_combo_nav_js(@pagy) %></div>
    <br>
    <div class="d-flex justify-content-center">
      <p> Pagy Items Selector JS</p>
    </div>
    <div class="d-flex justify-content-center">
      <%== pagy_items_selector_js(@pagy) %></div>
    <br>
    <br>
    <%= link_to 'New Movie', new_movie_path, class: "btn btn-primary" %>
  <% end %>
</div>