<!DOCTYPE html>
<html>
  <head>
    <title>PagyRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload' %>
    <!-- since we have many stylesheets going, we don't want to cache nothing -->
    <meta name="turbo-cache-control" content="no-cache">
    <meta name="turbo-visit-control" content="reload">
    <%= yield :style %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    <%= yield %>
  </body>
</html>